.tab {
  list-style: none;
  margin: 0px;
  padding: 0px;

  li {
    float: left;
    text-transform: uppercase;
    color: white;
    padding: 1rem;
    &:hover {
      border-bottom: 2px solid #ee2031;
      cursor: pointer;
    }
  }
}
