.cardWrapper {
  position: relative;
  width: fit-content;
  & > img {
    max-height: 18rem;
    min-height: 18rem;
    object-fit: cover;
    max-width: 14rem;
    min-width: 14rem;
  }
  & > h5 {
    color: white;
    font-weight: lighter;
    font-size: smaller;
  }
}

.cardMovieNameConatiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3 {
    font-size: 1.5rem;
    color: white;
    font-weight: lighter;
  }
  span {
    font-size: 1rem;
    color: white;
    border: 1px solid white;
    border-radius: 2px;
    padding: 2px 5px 2px 5px;
  }
}

.button {
  position: absolute;
  background-color: rgb(42, 41, 41);
  top: 1rem;
  left: 80%;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  color: white;
}
