.homePageTopWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown {
  min-height: 2rem;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  color: white;
  margin-left: 1rem;
  & > option {
    color: #ee2031;
    min-height: 2rem;
    height: 2rem;
  }
}

.cardHolder {
  margin-top: 1rem;
}
