.headerTopBar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.headerContainer {
  background-image: url("../../../public/images/header-bg.webp");
  min-height: 15rem;
  padding: 0.5rem 2rem 0 2rem;
}

.title {
  font-weight: lighter;
  font-size: 2.5rem;
  color: white;
  text-transform: uppercase;
}
.findMovieContainer {
  margin: 2rem;
}

.searchField {
  min-width: 70%;
  margin-right: 1rem;
  min-height: 2rem;
  border-radius: 3px;
  border: none;
  background-color: rgb(90, 85, 85);
  color: white;
  &::placeholder {
    color: rgb(161, 158, 158);
  }
}

.baseButton {
  text-transform: uppercase;
  padding: 0.5rem;
  border-radius: 3px;
  border: none;
  font-weight: lighter;
  &_addMovie {
    @extend .baseButton;
    color: #ee2031;
    background-color: rgba(243, 238, 238, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-weight: bold;
  }
  &_searchMovie {
    @extend .baseButton;
    color: white;
    background-color: #ee2031;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
}
